runpod==1.7.13
requests==2.32.5
boto3==1.42.4
gradio==5.53.3
transformers==4.57.6
accelerate
torch==2.8.0
torchaudio==2.8.0
einops
scipy
av
scikit-image>=0.25.2
flashpack==0.1.2
huggingface_hub
numpy
